# esto es un comentario
#después de este punto digo que ignore los csv, xlsx y xlsx
*.csv

*.xls
*.xlsf7fog6f79cfy965de6rv765v6ibx

# si quisiera ignorar una carpeta
nomh89pnt87otb97676n679769g67bre_carpeta/

datos/*.json
